.section-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -50px;
  height: 100vh;
  overflow: hidden;
}

.button-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 5.6rem;
  position: relative;
}

.preco {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: #2e2e30;
}

.section-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #86868b;
  overflow: hidden;
}

.detalhes {
  padding-bottom: 40px;
  font-size: 52px;
  margin: 50px;
}

.section-bg img {
  width: 300px;
}

.colors {
  padding: 4rem;
  font-size: var(--font-12px);
  color: var(--color-white-padrao);
}

.section-forged {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.section-forged img {
  max-width: 100%;
  height: 100%;
  z-index: -1;
}

.section-forged h4 {
  font-size: 80px;
  letter-spacing: -3px;
  color: var(--color-white-padrao);
  margin: 60px;
  z-index: -1;
}

.a17-pro {
  position: relative;
  bottom: -50px;
  text-align: left;
}

.spaced-section {
  margin: 40px auto;
  max-width: 100%;
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

.section-content {
  width: 340px;
  color: #86868b;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.011em;
}

.section-content p {
  margin-bottom: 30px;
}

.section-content strong {
  color: var(--color-white-padrao);
}

.strong-title {
  position: relative;
  top: -15px;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: 0.003em;
}

.tes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#image-picker {
  padding: 5px;
  border-radius: 30px;
  background-color: #2e2e30;
}

#image-picker ul {
  display: flex;
  justify-content: center;
}

#image-picker li {
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#image-picker li .color {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  pointer-events: none;
}

#image-picker li .description {
  font-size: 0.7rem;
  color: #1d1d1d;
}

#all-colors .color {
  background-image: url(swatch_all_colors__bg.jpg);
}

#natural_titanium .color {
  background-color: #8f8a81;
}

#blue_titanium .color {
  background-color: #1a202a;
}

#white_titanium .color {
  background-color: #c9c8c3;
}

#black_titanium .color {
  background-color: #1e1f20;
}

.selected {
  outline: 2px solid #2994fa;
  transition: 0.1s;
}

.section-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  text-align: center;
  color: var(--color-white-padrao);
}

.chip h4 {
  font-size: 80px;
  letter-spacing: -3px;
  margin: 40px;
}

.chip-paragraph {
  font-size: 28px;
  color: #86868b;
  font-weight: 600;
}

.chip-gaming img {
  position: relative;
  max-width: 100%;
  bottom: -50px;
}

.section-forged .honkai {
  font-size: 15px;
  padding: 10px;
  color: #2994fa;
  font-weight: 600;
}

@media (max-width: 1020px) {
  .spaced-section {
    width: 900px;
  }
  .chip-spaced {
    width: 700px;
  }
  .section-content {
    width: 280px;
  }
  .strong-title {
    font-size: 36px;
  }
  .section-forged img {
    width: 700px;
  }
  .section-forged,
  .chip h4 {
    font-size: 60px;
  }
  .chip h4 {
    width: 400px;
  }
  .chip-paragraph {
    font-size: 28px;
    width: 400px;
  }
  .button-bg {
    top: 0;
  }
}

@media (max-width: 850px) {
  .section-forged h4 {
    font-size: 45px;
  }
}

@media (max-width: 750px) {
  .section-forged,
  .chip h4 {
    font-size: 2.5rem;
    left: 0;
  }
  .honkai {
    margin: 0 auto;
  }
  .chip-paragraph {
    font-size: 20px;
    width: 290px;
  }
  .chip h4 {
    width: 250px;
  }
  .spaced-section {
    display: block;
    margin: 40px auto;
    width: auto;
  }
  .section-bg img {
    width: 200px;
  }
  .chip-gaming {
    width: 300px;
  }
  .section-bg h2 {
    position: relative;
    bottom: -30px;
  }
  .button-bg {
    top: -6rem;
  }
  .section-forged img {
    width: 650px;
    position: relative;
    left: -190px;
  }
  .section-forged {
    align-items: baseline;
    justify-content: baseline;
  }
}
