#discount {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #1d1d1f;
  color: var(--color-white-padrao);
  align-items: center;
  font-size: var(--font-12px);
}

#discount a {
  text-decoration: none;
  color: #2994fa;
}

.main-conteudo h1 {
  color: #beb8ae;
}

.main-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid;
  height: 100vh;
  background-color: #000;
}

.main-conteudo img {
  width: auto;
  padding-bottom: 30px;
  position: relative;
  left: 79px;
}

.buy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 90px;
  gap: 40px;
  background-color: #000;
}

.button-buy {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  background-color: #0071e3;
  color: #d5e8fa;
}

.price {
  align-items: center;
  color: var(--color-white-padrao);
  font-size: 1.3rem;
}

.price span {
  position: absolute;
  font-size: 10px;
}
